<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<section class="author">
  A <%=link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Jon Y.", "http://github.com/jy300x2" %>
</section>